{% extends "layout.html" %}
{% from "read_text.js" import read_text %}

{% block header %}
    <span class="main-form-title">
        Я думаю, вы <b>{{ profession_name }}</b>
    </span>
{% endblock %}

{% block content %}
    <form class="main-form" method="post" action="/save_results">
        <div class="container-main-form-btn">
            {% for question_answer_id in question_answer_ids %}
                <input type="hidden" name="qa" value="{{ question_answer_id }}">
            {% endfor %}
            <button type="submit" class="main-form-btn main-form-btn-success" name="result" value="success">
            <span>
                УГАДАЛ!
            </span>
            </button>
            <button type="submit" class="main-form-btn" name="result" value="fail">
            <span>
                NOPE
            </span>
            </button>
        </div>
    </form>
{% endblock %}

{% block javascript_code %}
    <script>

    </script>
{% endblock %}