<!DOCTYPE html>
<html lang="en">
<head>
    <title>hackaton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    <script src="/static/readText.js"></script>
    <script>
        window.default_voice_id = 62;
    </script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="wrap-contact100">

        {% block header %}{% endblock %}

            {% block content %}{% endblock %}
        </form>
    </div>
</div>

{% block javascript_code %}{% endblock %}
</body>
</html>
