<!DOCTYPE html>
<html lang="en">
<head>
    <title>hackaton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>

<div class="container-contact100">
    <div class="wrap-contact100">

        {% block header %}{% endblock %}

            {% block content %}{% endblock %}
        </form>
    </div>
</div>

{% block javascript_code %}{% endblock %}
</body>
</html>
