{% extends "layout.html" %}
{% from "read_text.js" import read_text %}

{% block header %}
    <span class="main-form-title">
        {{ question.text }}
    </span>
{% endblock %}

{% block content %}
    <form class="main-form" method="post">
    <div class="container-main-form-btn">
        {% for answer in answers %}
            <button type="submit" class="main-form-btn" name="current" value="{{ answer.qa_id }}">
                <span>
                    {{ answer.text }}
                </span>
            </button>
        {% endfor %}
    </div>
    </form>
{% endblock %}

{% block javascript_code %}
    <script>
        {{ read_text(question.text) }}
    </script>
{% endblock %}