{% extends "layout.html" %}

{% block header %}
    <span class="main-form-title">
        {{ question.text }}
    </span>
{% endblock %}

{% block content %}
    <form class="main-form" method="post">
        {% for p in professions %}
            {{ p.profession_name }} {{ p.probability }}
        {% endfor %}
        <div class="container-main-form-btn">
            {% for answer in answers %}
                <button type="submit" class="main-form-btn voice_button" name="current" value="{{ answer.qa_id }}"
                        voice_data="{{ answer.text }}">
                <span>
                    {{ answer.text }}
                </span>
                </button>
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block javascript_code %}
    <script>
        speakText('{{ question.text }}', 2500)
            .then(function (value) {
                listenVoice();
            });
    </script>
{% endblock %}