{% extends "layout.html" %}

{% block header %}
    <span class="main-form-title">
        Скажите 'НАЧАТЬ' и мы начнем
    </span>
{% endblock %}

{% block content %}
    <form class="main-form" method="post" action="/stage">
        <div class="container-main-form-btn">
            <button type="submit" class="main-form-btn voice_button" voice_data="начнем|начать|да|давай|поехали">
            <span>
                НАЧАТЬ
            </span>
            </button>
        </div>
    </form>
{% endblock %}

{% block javascript_code %}
    <script>
        speakText('{{ voice_message }}', 2500)
            .then(function (value) {
                listenVoice();
            });
        {#    .then(function (value) { console.log('2222') });#}




        {#recognition.onerror = function(event) { ... }#}
        {#recognition.onend = function() { ... }#}

    </script>
{% endblock %}